{{ form_open({ 'route': [ 'selfservice.comment' ], 'method': 'post', 'class': 'add-comment validate' }) }}

    {{ form_hidden('article_id', article['id']) }}
    {{ form_hidden('type_id', type) }}
    {{ form_hidden('parent_id') }}

    <p class="sp-replying-to sp-description sp-hidden">
        {{ Lang.get('selfservice.replying_to') }} <strong><span class="sp-reply-name"></span></strong>
        &nbsp;
        {{ form_button(Lang.get('general.cancel'), {'class': 'sp-cancel-reply sp-button sp-button-sm'}) }}
    </p>

    {% if not auth_check() %}
        <div class="sp-form-row">
            <div class="sp-input-container">
                {{ form_text('name', null, { 'placeholder': Lang.get('general.name') }) }}
            </div>
        </div>
    {% endif %}

    <div class="sp-form-row sp-form-full">
        <div class="sp-input-container">
            {{ form_textarea('text', null, {'placeholder': Lang.choice('selfservice.comment', 1), 'class': 'sp-h-24'}) }}
        </div>
    </div>

    {% if auth_check() %}
        <div class="sp-form-row">
            <div class="sp-input-container sp-input-group">
                <label>{{ form_check('notify_reply', 1, true) }} {{ Lang.get('selfservice.receive_notifications') }}</label>
            </div>
        </div>
    {% endif %}

    {% if show_comment_captcha %}
        {{ Captcha.getHtml() }}
    {% endif %}

    <div class="sp-form-button sp-form-button-left">
        {{ form_submit(Lang.choice('general.post', 1)) }}
    </div>

    {% if article.comments is not empty %}
        <hr />
    {% endif %}

{{ form_close() }}
