{% extends parent_template %}

{% block title %}{{ Lang.get('core.submit_ticket') }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.get('core.submit_ticket') }}
{% endblock %}

{% block content %}

    <h2>{{ Lang.get('ticket.select_department') }}</h2>

    <p class="sp-description">{{ Lang.get('ticket.select_department_desc') }}</p>

    {% for department in departments %}
        <a class="sp-department sp-block sp-px-4 sp-py-3 sp-mt-3 sp-bg-secondary sp-border sp-rounded hover:sp-bg-tertiary"
           href="{{ route('ticket.frontend.ticket.createStep3', {'department': department.id}) }}">
            <h4>{{ department.frontend_name }}</h4>
            {% if department.description is not empty %}
                <p class="sp-mt-3/2 sp-mb-0 sp-description">{{ department.description }}</p>
            {% endif %}
        </a>
    {% else %}
        {{ Lang.get('ticket.no_departments') }}
    {% endfor %}

{% endblock %}