{% extends parent_template %}

{% block title %}{{ Lang.choice('ticket.ticket', 2) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.choice('ticket.ticket', 2) }}
{% endblock %}

{% block content %}

    <div class="sp-filter-results sp-hidden">
        <h3>{{ Lang.get('general.filter_results') }}</h3>

        <div class="sp-table">
            <div class="sp-table-row">
                <label>{{ Lang.get('general.number') }}:</label>
                <div id="filter_number"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('general.subject') }}:</label>
                <div id="filter_subject"></div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.choice('ticket.department', 1) }}:</label>
                <div id="filter_department"> </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.submitted') }}:</label>
                <div>
                    <button class="sp-action sp-filter-datepicker" data-active="0" data-column="4">
                        <i class="fas fa-calendar"></i>
                        <span class="sp-hidden xs:sp-inline">
                        &nbsp;<span class="sp-filter-datepicker-text">{{ Lang.get('general.date') }}</span>
                    </span>
                    </button>
                </div>
            </div>
            <div class="sp-table-row">
                <label>{{ Lang.get('ticket.last_reply') }}:</label>
                <div>
                    <button class="sp-action sp-filter-datepicker" data-active="0" data-column="5">
                        <i class="fas fa-calendar"></i>
                        <span class="sp-hidden xs:sp-inline">
                        &nbsp;<span class="sp-filter-datepicker-text">{{ Lang.get('general.date') }}</span>
                    </span>
                    </button>
                </div>
            </div>
        </div>
    </div>

	{{ table.render()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/libs/daterangepicker/js/daterangepicker.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/operator/js/datefiltering.js') }}"></script>
    {{ table.script()|raw }}

    <script src="{{ asset_rev('resources/assets/frontend/js/ticketgrid.js') }}"></script>
{% endblock %}
