{% extends parent_template %}

{% block meta %}
    {% if article.excerpt is not empty %}
        <meta name="description" content="{{ article.excerpt }}" />
        <meta property="og:description" content="{{ article.excerpt }}" />
    {% endif %}

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ article.frontendUrl(type) }}" />
{% endblock %}

{% block title %}{{ article.title }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ route('selfservice.index', type.slug) }}">{{ type.name }}</a> &nbsp;&raquo;&nbsp;
    {{ Lang.get('selfservice.viewing_article') }}
{% endblock %}

{% block sidebar %}
    {% include 'frontend.' ~ template ~ '.selfservice.sidebar' %}
    {{ parent() }}
{% endblock %}

{% block precontent %}
    <div class="sp-comments-loading sp-alert sp-alert-error sp-alert-sticky sp-hidden">
        <div class="sp-container sp-mx-auto">
           {{ Lang.get('messages.error_loading_comments') }}
        </div>
    </div>
{% endblock %}

{% block content %}

    <a href="javascript:window.print()" class="sp-button sp-button-sm sp--mt-3/2 sp-ml-3 sp-float-right print:sp-hidden">
        <i class="fas fa-print"></i>&nbsp;
        {{ Lang.get('general.print') }}
    </a>

    <!-- Stats (date, categories, tags) -->
    {% include 'frontend.' ~ template ~ '.selfservice.article_details' %}

    <hr />

    <!-- Article content -->
    <div class="sp-article"
         data-article-id="{{ article.id }}"
         data-type-id="{{ type.id }}">
        {{ article.purified_text|raw }}
    </div>

    <!-- Attachments -->
    {% include 'frontend.' ~ template ~ '.selfservice.article_attachments' %}

    <hr {% if related is not defined or related.isEmpty() %}class="print:sp-hidden"{% endif %} />

    <div class="sp-flex sp-flex-wrap sp-items-center print:sp-hidden">
        <!-- Share -->
        <div class="sp-w-full md:sp-w-1/2">
            <span>{{ Lang.get('general.share_via') }}</span>
            <a href="mailto:?body={{ article.title|url_encode }} - {{ article.url(type) }}"
               class="sp-inline-block sp-h-8 sp-w-8 sp-p-1 sp-ml-1 sp-bg-gray-600 sp-rounded-full sp-text-white
                      sp-text-center sp-align-middle hover:sp-text-white group">
                <i class="fas fa-envelope group-hover:sp-opacity-75"></i>
            </a><!--
        --><a href="http://twitter.com/intent/tweet?text={{ article.title|url_encode }}&amp;url={{ article.url(type) }}"
              class="sp-inline-block sp-h-8 sp-w-8 sp-p-1 sp-ml-2 sp-rounded-full sp-text-white sp-text-center
                     sp-align-middle hover:sp-text-white group" style="background: #55acee">
                <i class="fab fa-twitter group-hover:sp-opacity-75"></i>
            </a><!--
        --><a href="http://www.facebook.com/sharer.php?u={{ article.url(type) }}"
              class="sp-inline-block sp-h-8 sp-w-8 sp-p-1 sp-ml-2 sp-rounded-full sp-text-white sp-text-center
                     sp-align-middle hover:sp-text-white group" style="background: #3b5998">
                <i class="fab fa-facebook group-hover:sp-opacity-75"></i>
            </a>
        </div>

        <!-- Rate article -->
        {% if Config.get('settings.ratings_enabled') %}
            <div class="sp-w-full sp-mt-3 md:sp-w-1/2 md:sp-mt-0 md:sp-text-right">
                {% if Config.get('settings.rating_post') == '0' or auth_check() %}
                    <div class="sp-rate-article-container">
                        {{ Lang.get('selfservice.article_find_useful') }} &nbsp;
                        <div class="sp-button-group sp-inline-block">
                            <button class="sp-rate-article {% if rating.isGood() %}selected{% endif %}" data-rating="1">
                                <i class="fas fa-smile sp-text-green-600"></i>
                            </button><!--
                            --><button class="sp-rate-article {% if rating.isNeutral() %}selected{% endif %}" data-rating="2">
                                <i class="fas fa-meh sp-text-yellow-600"></i>
                            </button><!--
                            --><button class="sp-rate-article {% if rating.isBad() %}selected{% endif %}" data-rating="0">
                                <i class="fas fa-frown sp-text-red-600"></i>
                            </button>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>

    {% if related is defined and not related.isEmpty() %}
        <h4 class="sp-mt-6">{{ Lang.get('selfservice.related_articles') }}</h4>

        {% include 'frontend.' ~ template ~ '.selfservice.article_related' %}
    {% endif %}

    <!-- Comments -->
    {% if Config.get('settings.comments_enabled')
        and (article.comments is not empty or Config.get('settings.comment_write') == 0 or auth_check())
    %}
        <hr {% if article.comments is empty %}class="print:sp-hidden"{% endif %} />

        <a id="comments"></a>

        <h4 class="sp-mb-6 {% if article.comments is empty %}print:sp-hidden{% endif %}">{{ Lang.choice('selfservice.comment', 2) }}</h4>

        {% if Session.has('comment_success') %}
            <div class="sp-alert sp-alert-success">{{ Session.get('comment_success') }}</div>
        {% elseif Session.has('comment_error') %}
            <div class="sp-alert sp-alert-error">{{ Session.get('comment_error') }}</div>
        {% endif %}

        {% if Config.get('settings.comment_write') == 0 or auth_check() %}
            <div class="add-comment-form sp-collapsible print:sp-hidden">
                {{ Lang.get('general.add_item', {'item': Lang.choice('selfservice.comment', 1)}) }}
                <span class="sp-ml-auto">
                    <i class="fas fa-chevron-up"></i>
                </span>
            </div>
            <div class="sp-hidden sp-mt-6">
                {% include 'frontend.' ~ template ~ '.selfservice.forms.comment' with { type: type.id } %}
            </div>
        {% else %}
            <p class="sp-description">{{ Lang.get('selfservice.login_to_comment') }}</p>
        {% endif %}

        {% if article.comments is not empty %}
            <div class="sp-my-6 sp-description print:sp-hidden">
                {{ Lang.get('general.order_by') }}:&nbsp;
                <select class="sp-comment-ordering">
                    <option value="0" {{ (comment_ordering == '0') ? 'selected="selected"' : '' }}>{{ Lang.get('selfservice.oldest') }}</option>
                    <option value="1" {{ (comment_ordering == '1') ? 'selected="selected"' : '' }}>{{ Lang.get('selfservice.newest') }}</option>
                    <option value="2" {{ (comment_ordering == '2') ? 'selected="selected"' : '' }}>{{ Lang.get('selfservice.highest_rated') }}</option>
                </select>

                <span class="sp-loading sp-px-4 sp-py-3 sp-ml-2 sp-bg-secondary sp-rounded sp-align-middle sp-hidden">
                    <i class="fas fa-spinner fa-spin"></i>
                </span>
            </div>

            {# Show all the comments #}
            <div class="sp-comments-block" data-comment-route="{{ route('selfservice.comment') }}">
                {% include 'frontend.' ~ template ~ '.selfservice.comment' with {'comments': article.comments, 'type': type.id} %}
            </div>

            {% if comment_total > article.comments|length %}
                <button class="sp-more-parent-comments sp-button sp-mt-3" data-count="{{ article.comments|length }}">
                    {{ Lang.get('selfservice.show_more_comments') }}
                </button>
            {% endif %}
        {% endif %}
    {% endif %}

{% endblock %}

{% block scripts_footer %}
    <!-- WYSIWYG Editor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/editor_config.js') }}"></script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <!-- Attachment previews -->
    <script src="{{ asset_rev('resources/assets/libs/att.preview/js/att.preview.min.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/frontend/js/article.js') }}"></script>

    {% if show_comment_captcha %}
        {{ Captcha.getJs() }}
    {% endif %}

    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}
