{% if comments is not empty %}
    <div class="sp-comments">
        {% for comment in comments %}
            <div class="sp-message sp-comment" data-id="{{ comment.id }}">
                <a id="comment-{{ comment.id }}"></a>

                <div class="sp-flex">
                    <div class="sp-flex-initial sp-mr-4">
                        <img src="{{ comment.author.avatar_url }}" class="sp-avatar sp-max-w-xs {% if comment.parent_id is empty %}md:sp-max-w-md{% endif %}" />
                    </div>
                    <div class="sp-grow">
                        <div class="sp-message-header">
                            <span class="sp-name sp-font-semibold">
                                {{ comment.author.formatted_name }}
                            </span>
                            {% if comment.author.isOperator %}
                                &nbsp;<span class="sp-badge">{{ Lang.get('general.staff') }}</span>
                            {% endif %}
                            {% if comment.parent_id and comment.parent_author %}
                                &nbsp;<span class="sp-description sp-inline-block">{{ Lang.get('selfservice.in_reply_to') }} <a href="#comment-{{ comment.parent_id }}">{{ comment.parent_author.formatted_name }}</a></span>
                            {% endif %}
                            &nbsp;<span class="sp-description sp-inline-block">{{ timeago(comment.created_at) }}</span>
                        </div>

                        {% if comment.deleted_at %}
                            <div class="sp-description">
                        {% elseif comment.rating|default is not empty and comment.rating < Config.get('settings.comment_threshold') %}
                            <a class="sp-comment-hidden sp-inline-block sp-mt-1 sp-mb-3/2 sp-description sp-italic">{{ Lang.get('selfservice.comment_below_threshold') }}</a>
                            <div class="sp-comment-text sp-mt-1 sp-mb-3/2 sp-hidden">
                        {% else %}
                            <div class="sp-comment-text sp-mt-1 sp-mb-3/2">
                        {% endif %}
                            {{ comment.purified_text|raw }}
                        </div>

                        {% if not comment.deleted_at %}
                            <div class="sp-comment-options sp-text-sm sp-text-secondary">
                                {% if Config.get('settings.comment_ratings') %}
                                    <span class="sp-mr-1">
                                        <a class="sp-rate-comment sp-inline-block sp-text-tertiary" data-comment="{{ comment.id }}" data-score="1">
                                            <i class="fas fa-thumbs-up
                                                      {% if comment.ratings[0] is defined and comment.ratings[0].score == '1' %}sp-text-secondary{% endif %}"></i>
                                        </a>&nbsp;
                                        <a class="sp-rate-comment sp-inline-block sp-text-tertiary" data-comment="{{ comment.id }}" data-score="-1">
                                            <i class="fas fa-thumbs-down
                                                      {% if comment.ratings[0] is defined and comment.ratings[0].score == '-1' %}sp-text-secondary{% endif %}"></i>
                                        </a>
                                    </span>

                                    {% if comment.rating is not empty %}
                                        <span class="sp-comment-rating">{{ comment.rating }}</span>
                                    {% else %}
                                        <span class="sp-comment-score sp-hidden"></span>
                                    {% endif %}

                                    {% if Config.get('settings.comment_write') == 0 or auth_check() %}
                                        <span class="sp-mx-1 print:sp-hidden">&middot;</span>
                                    {% endif %}
                                {% endif %}

                                {% if Config.get('settings.comment_write') == 0 or auth_check() %}
                                    <a class="sp-reply-to-comment sp-description print:sp-hidden" data-id="{{ comment.id }}">{{ Lang.get('general.reply') }}</a>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if comment.children is not empty %}
                            {% if comment.more|default is not empty and comment_ordering == 1 %}
                                <button class="sp-show-children-comments sp-button sp-button-sm sp-mt-3" data-parent="{{ comment.id }}">
                                    {{ Lang.get('selfservice.view_all_replies') }} &raquo;
                                </button>
                            {% endif %}

                            {% include 'frontend.' ~ template ~ '.selfservice.comment'
                                with {'comments': comment_ordering == 1 ? comment.children|reverse(true) : comment.children}
                            %}

                            {% if comment.more|default is not empty and comment_ordering != 1 %}
                                <button class="sp-show-children-comments sp-button sp-button-sm sp-mt-3" data-parent="{{ comment.id }}">
                                    {{ Lang.get('selfservice.view_all_replies') }} &raquo;
                                </button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
{% endif %}
