<div class="sp-sidebar sp-hidden sp-flex-none sp-ms-8 sp-w-64 lg:sp-block print:sp-hidden">
    {{ View.fireHook('frontend.sidebar_start') }}

    {% if categories is not empty and not categories.isEmpty() %}
        <div class="sp-sidebar-box">
            <h2>{{ Lang.choice('selfservice.category', 2) }}</h2>
            <ul class="sp-nav">
                {% for category in categories %}
                <li>
                    <a href="{{ category.frontend_url }}">
                        {% if category.count is not empty %}
                            <span class="sp-badge sp-float-end">{{ category.count }}</span>
                        {% endif %}
                        <div class="nav-item" {% if currentCategory is not empty and currentCategory == category.id %}style="font-weight: bold;"{% endif %}>
                            {{ category.dashes|raw }}&nbsp;{{ category.name }}
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if tags is not empty and not tags.isEmpty() %}
        <div class="sp-sidebar-box">
            <h2>{{ Lang.choice('selfservice.tag', 2) }}</h2>
            <ul class="sp-nav">
                {% for tag in tags %}
                    <li>
                        <a href="{{ route('selfservice.tag', { 'frontendType': type.slug, 'slug': tag.slug }) }}">
                            {{ tag.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {{ View.fireHook('frontend.sidebar_end') }}
</div>
