{% extends parent_template %}

{% block title %}{{ Lang.choice('user.organisation', 1) }}: {{ auth_user().organisation.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.choice('user.organisation', 1) }}
{% endblock %}

{% block precontent %}
    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden sp-user-access-update">
        {{ Lang.get('messages.success_updated', {'item': mb_strtolower(Lang.choice('user.organisation', 1), 'UTF-8')}) }}
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden sp-user-access-update">
        {{ Lang.get('messages.error_updated', {'item': mb_strtolower(Lang.choice('user.organisation', 1), 'UTF-8')}) }}
    </div>
    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden delete">
        <div class="sp-container sp-mx-auto">
            {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('user.user', 1), 'UTF-8') }) }}
        </div>
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden delete">
        <div class="sp-container sp-mx-auto">
            {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('user.user', 1), 'UTF-8') }) }}
        </div>
    </div>
{% endblock %}

{% block content %}

    {% include 'frontend.' ~ template ~ '.user.organisation_tabs' %}

    <p class="sp-description">{{ Lang.get('user.organisation_desc')|raw }}</p>

    {{ table.render()|raw }}

{% endblock %}

{% block scripts_footer %}
    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <script src="{{ asset_rev('resources/assets/frontend/js/organisation.js') }}"></script>
{% endblock %}
