{% extends parent_template %}

{% block title %}{{ Lang.choice('user.organisation', 1) }}: {{ auth_user().organisation.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.choice('user.organisation', 1) }}
{% endblock %}

{% block content %}

    {% include 'frontend.' ~ template ~ '.user.organisation_tabs' %}

    {{ form_model(record, {'route': 'user.organisation.updateProfile', 'method': 'POST', 'class': 'validate profile'}) }}
        {% include 'frontend.' ~ template ~ '.user.forms.organisation_profile' %}

        <div class="sp-form-button">
            {{ form_submit(Lang.get('general.save')) }}
        </div>
    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}

    <!-- WYSIWYG Editor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/editor_config.js') }}"></script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/frontend/js/organisation.js') }}"></script>
{% endblock %}
