{% extends parent_template %}

{% block title %}{{ Lang.choice('user.organisation', 1) }}: {{ auth_user().organisation.name }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    {{ Lang.choice('user.organisation', 1) }}
{% endblock %}

{% block precontent %}
    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden sp-user-access-update">
        {{ Lang.get('messages.success_updated', {'item': mb_strtolower(Lang.choice('user.organisation', 1), 'UTF-8')}) }}
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden sp-user-access-update">
        {{ Lang.get('messages.error_updated', {'item': mb_strtolower(Lang.choice('user.organisation', 1), 'UTF-8')}) }}
    </div>
    <div class="sp-alert sp-alert-success sp-alert-sticky sp-hidden delete">
        <div class="sp-container sp-mx-auto">
            {{ Lang.get('messages.success_deleted', { 'item': mb_strtolower(Lang.choice('user.user', 1), 'UTF-8') }) }}
        </div>
    </div>
    <div class="sp-alert sp-alert-error sp-alert-sticky sp-hidden delete">
        <div class="sp-container sp-mx-auto">
            {{ Lang.get('messages.error_deleted', { 'item': mb_strtolower(Lang.choice('user.user', 1), 'UTF-8') }) }}
        </div>
    </div>
{% endblock %}

{% block content %}

    {% include 'frontend.' ~ template ~ '.user.organisation_tabs' %}

    <p class="sp-description">{{ Lang.get('user.organisation_desc')|raw }}</p>

    {{ table.render()|raw }}

    <div class="sp-form-button sp-form-button-left">
        {% if Config.get('settings.registration_enabled') %}
            <a href="{{ route('user.organisation.inviteUser.step1') }}">
                {{ form_button(Lang.get('user.invite_user')) }}
            </a>
        {% endif %}
    </div>

    {% if record.isOwner(auth_user().id) %}
        <hr />

        {{ form_model(record, {'route': 'user.organisation.transferOwnership', 'method': 'POST', 'class': 'validate transferOwnership'}) }}

        <h3>{{ Lang.get('user.transfer_ownership') }}</h3>

        <p class="sp-description">{{ Lang.get('user.transfer_ownership_desc') }}</p>

        <div class="sp-form-row">
            {{ form_label('owner', Lang.get('user.new_owner')) }}
            <div class="sp-input-container">
                <select name="owner" placeholder="{{ Lang.get('user.start_typing_name') }}">
                    <option value=''></option>
                </select>
            </div>
        </div>

        <div class="sp-form-button">
            {{ form_submit(Lang.get('general.transfer')) }}
        </div>

        {{ form_close() }}
    {% endif %}

{% endblock %}

{% block scripts_footer %}
    {% if transferValidator|default is not empty %}
        {{ transferValidator|raw }}
    {% endif %}

    <script src="{{ asset_rev('resources/assets/libs/datatables/js/jquery.dataTables.min.js') }}"></script>
    {{ table.script()|raw }}

    <!-- WYSIWYG Editor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>

    <script src="{{ asset_rev('resources/assets/frontend/js/organisation.js') }}"></script>
{% endblock %}
