{% extends parent_template %}

{% block title %}{{ Lang.choice('user.organisation', 1) }}{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <a href="{{ route('user.organisation') }}">{{ Lang.choice('user.organisation', 1) }}</a> &nbsp;&raquo;&nbsp;
    {{ Lang.get('user.organisation_invite_user') }}
{% endblock %}

{% block content %}

    {{ form_open({'route': 'user.organisation.inviteUser.step1', 'method': 'POST', 'class': 'validate'}) }}

        <div class="sp-form-row">
            {{ form_label('email', Lang.get('general.email')) }}
            <div class="sp-input-container">
                {{ form_email('email', record.email, {'size': 35}) }}
            </div>
        </div>

        {% include 'frontend.' ~ template ~ '.user.forms.organisation' with {'new': true} %}

        <div class="sp-form-button">
            {{ form_submit(Lang.get('general.continue')) }}
        </div>

    {{ form_close() }}

{% endblock %}

{% block scripts_footer %}
    <!-- Phone numbers -->
    <script src="{{ asset_rev('resources/assets/libs/intltelinput/js/intl-tel-input.min.js') }}"></script>
    <script src="{{ asset_rev('resources/assets/general/js/phonenumbers.js') }}"></script>

    <!-- WYSIWYG Editor -->
    <script src="{{ asset_rev('resources/assets/libs/editor.min.js') }}"></script>

    <!-- Custom fields -->
    <script src="{{ asset_rev('resources/assets/general/js/customfields.js') }}"></script>
    
    <script>
        $(document).ready(function() {
            $('.datepicker').datepicker();
        });
    </script>

    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}
