{% extends parent_template %}

{% block title %}{{ Lang.get('user.reset_password') }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	{{ Lang.get('user.reset_password') }}
{% endblock %}

{% block content %}

    {% if reset_success|default is not empty and reset_success %}

        {{ Lang.get('user.reset_request_desc') }}

    {% else %}

		{{ form_open({'route': 'user.reset', 'method': 'post', 'class': 'validate'}) }}

			<div class="sp-form-row">
				{{ form_label('email', Lang.get('general.email')) }}
				{{ form_email('email', null, {'autofocus': 'autofocus'}) }}
			</div>

			<div class="sp-form-button">
				{{ form_submit(Lang.get('general.reset')) }}
			</div>

		{{ form_close() }}

	{% endif %}

{% endblock %}

{% block scripts_footer %}
    {% if jsValidator|default is not empty %}
        {{ jsValidator|raw }}
    {% endif %}
{% endblock %}