{% extends parent_template %}

{% block title %}{{ Lang.get('user.set_password') }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	{{ Lang.get('user.set_password') }}
{% endblock %}

{% block content %}

	{{ Lang.get('user.verified_set_password_desc') }}
	<br /><br />

	{{ form_open({'route': 'user.setpassword', 'method': 'post', 'class': 'validate'}) }}

		{{ form_hidden('email', Request.input('email')) }}
		{{ form_hidden('token', Request.input('token')) }}

		<div class="sp-form-row">
			{{ form_label('password', Lang.get('general.password')) }}
			<div class="sp-input-container">
				{{ form_password('password', {'autocomplete': 'new-password'}) }}
			</div>
		</div>

		<div class="sp-form-row">
			{{ form_label('password_confirmation', Lang.get('user.confirm_password')) }}
			<div class="sp-input-container">
				{{ form_password('password_confirmation', {'autocomplete': 'new-password'}) }}
			</div>
		</div>

		<div class="sp-form-button">
			{{ form_submit(Lang.get('general.save')) }}
		</div>

	{{ form_close() }}

{% endblock %}

{% block scripts_footer %}
	{% if jsValidator|default is not empty %}
		{{ jsValidator|raw }}
	{% endif %}
{% endblock %}