{% extends parent_template %}

{% block title %}{{ Lang.get('user.email_verification') }}{% endblock %}

{% block breadcrumb %}
	{{ parent() }}
	{{ Lang.get('user.email_verification') }}
{% endblock %}

{% block content %}

    {% if error is not defined %}
		<div class="sp-alert sp-alert-success sp-alert-m-0">
			<strong>{{ Lang.get('messages.success') }}</strong><br />
			{{ Lang.get('user.thank_you_for_verifying_email') }}
			{% if not auth_check() %}
				{{ Lang.get('user.continue_to_login', {'route': route('user.login')})|raw }}
			{% endif %}
		</div>
	{% else %}
		<div class="sp-alert sp-alert-error sp-alert-m-0">
			<strong>{{ Lang.get('messages.error') }}</strong><br />
			{{ error }}
		</div>

		{% if resend %}
			<div class="sp-mt-6">
				<a href="{{ resend }}" class="sp-button">{{ Lang.get('user.resend_verification_email') }}</a>
			</div>
		{% endif %}
	{% endif %}

{% endblock %}
